<?xml version="1.0" encoding="UTF-8" ?>
<mapper namespace="addMapper">

    <!-- select 方法 -->
    <select id="getUsedAddDevice" resultType="com.ai.iot.bill.entity.usage.UsedAddDevice">
        select ACCT_ID,DEVICE_ID,CYCLE_ID,TP_INS_ID,PLAN_ID,PLAN_VERSION_ID,
               BILL_ID,CURR_VALUE,ROUND_ADJUST,BULK_ADJUST,LAST_VALUE,MO_VALUE,MT_VALUE,BIZ_TYPE,SHARE_TAG
        from TS_ADD_DEVICE_${month}
        where  ACCT_ID=#{acctId}
    </select>

    <select id="getUsedAddShareDetail" resultType="com.ai.iot.bill.entity.usage.UsedAddShareDetail">
        select ACCT_ID,DEVICE_ID,CYCLE_ID,TP_INS_ID,POOL_ID,PLAN_ID,PLAN_VERSION_ID,BILL_ID,CURR_VALUE,ROUND_ADJUST,BULK_ADJUST,LAST_VALUE
        from TS_ADD_SHAREDETAIL_${month}
        where  ACCT_ID=#{acctId}
    </select>

    <!-- delete 方法 -->
    <delete id="deleteDeviceAdd" >
        delete from TS_ADD_DEVICE_${month} where ACCT_ID=#{acctId} and DEVICE_ID=#{deviceId}
    </delete>
    <delete id="deleteDeviceAdd2" >
        delete from TS_ADD_DEVICE_${month} where ACCT_ID=#{acctId}
    </delete>

    <delete id="deleteUsedAddShareDetail" >
        delete from TS_ADD_SHAREDETAIL_${month} where ACCT_ID=#{acctId} and DEVICE_ID=#{deviceId}
    </delete>
    <delete id="deleteUsedAddShareDetail2" >
        delete from TS_ADD_SHAREDETAIL_${month} where ACCT_ID=#{acctId}
    </delete>

    <delete id="deleteUsedAddShare" >
        delete from TS_ADD_SHARE_${month} where ACCT_ID=#{acctId}
    </delete>

    <delete id="deleteUsedAddPoolTotal" >
        delete from TS_ADD_POOLSHARE_${month} where ACCT_ID=#{acctId}
    </delete>

    <!-- insert 方法 -->

    <insert id="insertDeviceAdd" >
        insert into TS_ADD_DEVICE_${month}
        (ACCT_ID,DEVICE_ID,CYCLE_ID,TP_INS_ID,PLAN_ID,PLAN_VERSION_ID,
         BILL_ID,CURR_VALUE,ROUND_ADJUST,BULK_ADJUST,LAST_VALUE,MO_VALUE,MT_VALUE,BIZ_TYPE,SHARE_TAG)
        VALUES
        (#{acctId},#{deviceId},#{cycleId},#{tpInsId},#{planId},#{planVersionId},
         #{billId},#{currValue},#{roundAdjust},#{bulkAdjust},#{lastValue},#{moValue},#{mtValue},#{bizType},#{shareTag})
    </insert>

    <insert id="insertUsedAddShareDetail" >
        insert into TS_ADD_SHAREDETAIL_${month}
        (ACCT_ID,DEVICE_ID,CYCLE_ID,TP_INS_ID,POOL_ID,PLAN_ID,PLAN_VERSION_ID,
        BILL_ID,CURR_VALUE,ROUND_ADJUST,BULK_ADJUST,LAST_VALUE)
        VALUES
        (#{acctId},#{deviceId},#{cycleId},#{tpInsId},#{poolId},#{planId},#{planVersionId},
        #{billId},#{currValue},#{roundAdjust},#{bulkAdjust},#{lastValue})
    </insert>

    <insert id="insertUsedAddShare" >
        insert into TS_ADD_SHARE_${month}
        (ACCT_ID,CYCLE_ID,PLAN_VERSION_ID,BILL_ID,CURR_VALUE,ROUND_ADJUST,BULK_ADJUST)
        VALUES
        (#{acctId},#{cycleId},#{planVersionId},#{billId},#{currValue},#{roundAdjust},#{bulkAdjust})
    </insert>

    <insert id="insertUsedAddPoolTotal" >
        insert into TS_ADD_POOLSHARE_${month}
        (ACCT_ID,POOL_ID,CYCLE_ID,PLAN_VERSION_ID,BILL_ID,LAST_VALUE,CURR_VALUE,ROUND_ADJUST,BULK_ADJUST)
        VALUES
        (#{acctId},#{poolId},#{cycleId},#{planVersionId},#{billId},#{lastValue},#{currValue},#{roundAdjust},#{bulkAdjust})
    </insert>

</mapper>